body
{
	background-color: gray;
	margin: auto;
}

kep{ text-align: center;}
terkep{ text-align: center;}


h1
{
	text-align:center;	
}

h3
{
	text-align: center;
}



p
{
	text-align: center;
}	
